{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
<body>
	<form id='formcorrect' action='' method='post'>
		{% csrf_token %}
		<div class="row">
			{% trans "correctionPractice" %} <b>{{delivery.practice.uid}}</b> - {% trans "delivery" %} <b>{{delivery.pk}}</b>
		</div>
		<table class="table table-striped">
			<thead">
				<tr>
					<td><b>{% trans "coment" %}</b></td>
					<td><b>{% trans "grade" %}</b></td>
				</tr>
			</thead>
			<tbody>
				{% for correc in correction %}
				<tr>
					<td">{{ correc.publicComent }}</td>
					<td><b>{{ correc.grade }}</b></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2" >{% trans 'noCorrection' %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	<footer>
		<a class="btn btn-small" href="/undergraduate/delivery/upload/{{delivery.practice.pk}}"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</footer>
</body>
{% endblock %}
