{% extends "undergraduate/undergraduate.html" %}
{% load i18n %}
{% block content %}
<body>
	<form id='formcorrect' action='' method='post'>
		{% csrf_token %}
		<div class="row" style="margin: 20px 0;">
			Correction practice <b>{{delivery.practice.uid}}</b> - Delivery <b>{{delivery.pk}}</b>
		</div>
		<table class="table table-striped">
			<thead style="text-align: center; ">
				<tr>
					<td><b>Coment</b></td>
					<td><b>Grade</b></td>
				</tr>
			</thead>
			<tbody>
				{% for correc in correction %}
				<tr>
					<td style="width: 90%;">{{ correc.publicComent }}</td>
					<td style="text-align: center; "><b>{{ correc.grade }}</b></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="4" style="text-align: center; ">There is yet no Correction</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	<footer>
		<a href="/undergraduate/delivery/upload/{{delivery.practice.pk}}">{% trans "Back" %}</a>
	</footer>
</body>
{% endblock %}