{% extends "undergraduate/undergraduate.html" %}
{% load i18n %}
{% block content %}
<body>
	<form id='formcorrect' action='' method='post'>
		{% csrf_token %}
		<div class="row">
			<div class="span0" style="margin-top: 20px; margin-bottom: 10px;" >
				Correction of practice <b>{{delivery.practice.uid}}</b> - delivery <b>{{delivery.pk}}</b>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Coment</th>
					<th>Grade</th>
				</tr>
			</thead>
			<tbody>
				{% for correc in correction %}
				<tr>
					<td style="width: 90%;">{{ correc.publicComent }}</td>
					<td style="text-align: center; ">{{ correc.grade }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="2" style="text-align: center; ">{% trans 'There is yet no Correction' %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
	<footer>
		<a href="/undergraduate/delivery/upload/{{delivery.practice.pk}}">{% trans 'back' %}</a>
	</footer>
</body>
{% endblock %}