{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		{% trans "correctionPractice" %} <b>{{delivery.practice.uid}}</b> - {% trans "delivery" %} <b>{{delivery.pk}}</b> - {% trans "student" %} <b>{{delivery.student.get_full_name}} ({{delivery.student.uid}})</b>
	</div>
	<div class="row-fluid">
		{% trans "corrector" %} - <b>{{corrector}}</b>
	</div>fuck
	<form id='formcorrect' action='' method='post'>
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit'>{% trans "save" %}</button>
	</form>
	<div>
		<a class="btn btn-small" href="javascript:history.back()"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</div>
	
</div>
{% endblock %}
