{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
	function checkAll(source) {
		checkboxes = document.getElementsByName('suscription');
		for (var i in checkboxes)
			checkboxes[i].checked = source.checked;
	}
</script>

	<div class="container-fluid" >
		<div class="row-fluid">
			<div class="span12">
				<h4>{% trans "suscriptions" %}</h4>
			</div>
		</div>

		<!-- Pending suscriptions -->
	<div class="row-fluid">
			<div class="span12">
				<form method="post" action="">
				{% csrf_token %}
					<div>
						{% trans "pendingSuscriptionsForCourse" %}  <b>{{ current_course }}</b>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>{% trans "uidSuscription" %}</th>
								<th>{% trans "studentUid" %}</th>
								<th>{% trans "studentName" %}</th>
								<th>{% trans "suscirptionDate" %}</th>
								<th>
									<input name="checkall" type="checkbox" onclick="checkAll(this)"/>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for suscription in suscriptions %}
							<tr>
								<td>{{ suscription.pk }}</td>
								<td>{{ suscription.student.uid }}</td>
								<td>{{ suscription.student.user.first_name }} {{suscription.student.user.last_name  }}</td>
								<td>{{ suscription.suscriptionDate }}</td>
								<td align="center">
									<input type="checkbox" id="{{ suscription.pk }}" name="suscription" value="{{ suscription.pk }}">
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="5">{% trans "noSuscriptionsAwaiting" %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="row-fluid">
						<div class="span3 offset9">
							<button name="Reject" class="btn" onclick="this.form.action='/teacher/suscription/rejectGroup/{{ current_course.pk }}/';this.form.submit();" >{% trans 'reject' %}</button> 
							<button name="Accept" class="btn" onclick="this.form.action='/teacher/suscription/acceptGroup/{{ current_course.pk }}/';this.form.submit();" >{% trans 'accept' %}</button>
						</div>
					</div>
				</form>
			</div>
		</div>

			
		<hr />
		
		<!-- Solved Suscriptions -->
		<div>
			{% trans "suscriptionSolverOfCourse"%}<b> {{ current_course }}</b> 
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans "uidSuscription" %}</th>
					<th>{% trans "studentUid" %}</th>
					<th>{% trans "studentName" %}</th>
					<th>{% trans "suscirptionDate" %}</th>
					<th>{% trans "resolveDate" %}</th>
					<th>{% trans "state" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for suscription in suscriptionsSolve %}
				<tr>
					<td>{{ suscription.pk }}</td>
					<td>{{ suscription.student.uid }}</td>
					<td>{{ suscription.student.get_full_name }}</td>
					<td>{{ suscription.suscriptionDate }}</td>
					<td>{{ suscription.resolveDate }}</td>
					<td>{{ suscription.state }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="6">{% trans "noSuscriptionsSolve" %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
