{% extends "teacher/index.html" %}
{% load i18n %}
{% block content %}
<body>
	<div style="width: 100%; text-align: left; margin: auto;">
		<h2>{% trans "Suscription Pending" %}</h2>
	</div>
	<tbody>
		{% for inning_row in table_suscription_inning %}
		<thead>
			<tr>
				<td><h3>{% trans "Inning "%} {{ inning_row.inning }}</h3></td>
			</tr>
		</thead>
		<table style="width: 100%">
			<thead style="text-align: center; ">
				<tr>
					<td><b>{% trans "Student" %}</b></td>
					<td><b>{% trans "Date of Suscription" %}</b></td>
				</tr>
			</thead>
			<tbody>
				{% for suscription in inning_row.suscriptionPending %}
				<tr>
					<td style="text-align: center; " >{{ suscription.student.user.first_name }} {{ suscription.student.user.last_name }} ({{ suscription.student.uid }})</td>
					<td style="text-align: center; ">{{ suscription.suscriptionDate}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3 align="right"><a href="/teacher/suscription/list/{{ inning_row.inning.pk}}">{% trans "Resolve" %}</a></h3>
		{% empty %}
		<table style="width: 100%;">
			<tbody>
				<tr>
					<td style="text-align: center;">{% trans "There are no suscription pending" %}</td>
				</tr>
			</tbody>
		</table>
		{% endfor %}
	</tbody>
</body>
{% endblock %}