{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

<script type="text/javascript">
	function checkAll(source) {
		checkboxes = document.getElementsByName('suscription');
		for (var i in checkboxes)
			checkboxes[i].checked = source.checked;
	}
</script>

	<form method="post" action="">
		{% csrf_token %}
		<div class="container" >
			<div style="padding-bottom: 10px;">
				{% trans "Pending Suscription of shift  " %}<b>{{ shift }}</b>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{% trans "Uid" %}</th>
						<th>{% trans "Student Uid" %}</th>
						<th>{% trans "Student Name" %}</th>
						<th>{% trans "Suscirption Date" %}</th>
						<th>
							<input name="checkall" type="checkbox" onclick="checkAll(this)"/>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for suscription in suscriptions %}
					<tr>
						<td>{{ suscription.pk }}</td>
						<td>{{ suscription.student.uid }}</td>
						<td>{{ suscription.student.user.first_name }} {{suscription.student.user.last_name  }}</td>
						<td>{{ suscription.suscriptionDate }}</td>
						<td align="center">
							<input type="checkbox" id="{{ suscription.pk }}" name="suscription" value="{{ suscription.pk }}">
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="5" style="text-align: center; ">{% trans "There are yet no suscriptions awaiting confirmation" %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="row">
				<div class="span3 offset9" style="text-align: right; ">
					<button name="Reject" class="btn" onclick="this.form.action='/teacher/suscription/rejectGroup/{{shift.id}}/';this.form.submit();" >{% trans 'Reject' %}</button> 
					<button name="Accept" class="btn" onclick="this.form.action='/teacher/suscription/acceptGroup/{{shift.id}}/';this.form.submit();" >{% trans 'Accept' %}</button>
				</div>
			</div>
			<hr />
			<div style="padding-bottom: 10px;">
				{% trans "Suscription solver of course "%}<b>{{ shift }}</b> 
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{% trans "Uid" %}</th>
						<th>{% trans "Student Uid" %}</th>
						<th>{% trans "Student Name" %}</th>
						<th>{% trans "Suscirption Date" %}</th>
						<th>{% trans "Resolve Date" %}</th>
						<th>{% trans "State" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for suscription in suscriptionsSolve %}
					<tr>
						<td>{{ suscription.pk }}</td>
						<td>{{ suscription.student.uid }}</td>
						<td>{{ suscription.student.get_full_name }}</td>
						<td>{{ suscription.suscriptionDate }}</td>
						<td>{{ suscription.resolveDate }}</td>
						<td>{{ suscription.state }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="6" style="text-align: center; ">{% trans "There are yet no suscriptions solve for this course" %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a href="javascript:history.back()">{% trans "Back" %}</a>
	</form>
{% endblock %}
