{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

<script type="text/javascript">
	function checkAll(source) {
		checkboxes = document.getElementsByName('suscription');
		for (var i in checkboxes)
			checkboxes[i].checked = source.checked;
	}
</script>

<body>
	<form method="post" action="">
		{% csrf_token %}
		<div style="width: 100%; margin: auto; padding: 15px 0; clear: both;" >
			<div style="clear: none; width: 50%; float: left;">
				{% trans "Pending Suscription of inning  " %}<b>{{ inning }}</b>
				<br>
				<br>
			</div>
			<table class="table table-striped">
				<thead style="text-align: center; ">
					<tr>
						<td><b>{% trans "Uid" %}</b></td>
						<td><b>{% trans "Student Uid" %}</b></td>
						<td><b>{% trans "Student Name" %}</b></td>
						<td><b>{% trans "Suscirption Date" %}</b></td>
						<td>
							<input name="checkall" type="checkbox" onclick="checkAll(this)"/>
						</td>
					</tr>
				</thead>
				<tbody>
					{% for suscription in suscriptions %}
					<tr>
						<td>{{ suscription.pk }}</td>
						<td>{{ suscription.student.uid }}</td>
						<td>{{ suscription.student.user.first_name }} {{suscription.student.user.last_name  }}</td>
						<td>{{ suscription.suscriptionDate }}</td>
						<td align="center">
						<input type="checkbox" id="{{ suscription.pk }}" name="suscription" value="{{ suscription.pk }}">
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="5" style="text-align: center; ">{% trans "There are yet no suscriptions for this course" %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<input style="float: right" name="Accept" type="button" value="{% trans 'Accept' %}" onclick="this.form.action='/teacher/suscription/acceptGroup/{{inning.id}}/';this.form.submit();" />
			<input style="float: right" name="Reject" type="button" value="{% trans 'Reject' %}" onclick="this.form.action='/teacher/suscription/rejectGroup/{{inning.id}}/';this.form.submit();"/>
			<br>
			<br>
			<div style="clear: none; width: 50%; float: left;">
				{% trans "Suscription solver of course "%}<b>{{ inning }}</b> 
				<br>
				<br>
			</div>
			<table class="table table-striped">
				<thead style="text-align: center; ">
					<tr>
						<td><b>{% trans "Uid" %}</b></td>
						<td><b>{% trans "Student Uid" %}</b></td>
						<td><b>{% trans "Student Name" %}</b></td>
						<td><b>{% trans "Suscirption Date" %}</b></td>
						<td><b>{% trans "Resolve Date" %}</b></td>
						<td><b>{% trans "State" %}</b></td>
					</tr>
				</thead>
				<tbody>
					{% for suscription in suscriptionsSolve %}
					<tr>
						<td>{{ suscription.pk }}</td>
						<td>{{ suscription.student.uid }}</td>
						<td>{{ suscription.student.get_full_name }}</td>
						<td>{{ suscription.suscriptionDate }}</td>
						<td>{{ suscription.resolveDate }}</td>
						<td>{{ suscription.state }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="6" style="text-align: center; ">{% trans "There are yet no suscriptions solve for this course" %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a href="/teacher/students/list/{{inning.pk}}">{% trans "Back" %}</a>
	</form>
</body>
{% endblock %}
