{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
<body>
	<div style="width: 100%; text-align: left; margin: auto;">
		<h4>{% trans "Suscription" %}</h4>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td><h5>{% trans "Innigns" %}</h5></td>
			</tr>
		</thead>
		<tbody>
			{% for shift in shifts %}
			<tr>
				<td style="text-align: center; " >{{ shift }}</td>
				<td style="text-align: center; "><a href="/undergraduate/suscription/suscribe/{{ shift.pk}}">{% trans "Suscribe" %}</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "There are yet no Shifts to suscribe" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div style="width: 100%; text-align: left; margin: auto;">
		<h5>{% trans "List of old Suscription" %}</h5>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td><b>{% trans "Inngin" %}</b></td>
				<td><b>{% trans "Date of Suscription" %}</b></td>	
				<td><b>{% trans "Date of Resolve" %}</b></td>	
				<td><b>{% trans "State" %}</b></td>
			</tr>
		</thead>
		<tbody>
			{% for suscription in suscriptions %}
			<tr>
				<td>{{ suscription.shift }}</td>
				<td>{{ suscription.suscriptionDate}}</td>
				<td>{{ suscription.resolveDate}}</td>
				<td>{{ suscription.state }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "There are no old suscription" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% endblock %}