{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
<body>
	<div>
		<h4>{% trans "suscription" %}</h4>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td><h5>{% trans "shift" %}</h5></td>
			</tr>
		</thead>
		<tbody>
			{% for shift in shifts %}
			<tr>
				<td>{{ shift }}</td>
				<td><a href="/undergraduate/suscription/suscribe/{{ shift.pk}}">{% trans "suscribe" %}</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">{% trans "noShiftsSuscribe" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		<h5>{% trans "listOldSuscription" %}</h5>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td><b>{% trans "shift" %}</b></td>
				<td><b>{% trans "dateOfSuscription" %}</b></td>	
				<td><b>{% trans "dateOfResolve" %}</b></td>	
				<td><b>{% trans "state" %}</b></td>
			</tr>
		</thead>
		<tbody>
			{% for suscription in suscriptions %}
			<tr>
				<td>{{ suscription.shift }}</td>
				<td>{{ suscription.suscriptionDate}}</td>
				<td>{{ suscription.resolveDate}}</td>
				<td>{{ suscription.state }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">{% trans "noOldSuscription" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% endblock %}
