{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
<body>
	<div style="width: 100%; text-align: left; margin: auto;">
		{% trans "Suscription" %}
	</div>
	<table style="width: 100%">
		<thead style="text-align: center; ">
			<tr>
				<td>{% trans "Innigns" %}</td>
			</tr>
		</thead>
		<tbody>
			{% for inning in innings %}
			<tr>
				<td style="text-align: center; " >{{ inning }}</td>
				<td style="text-align: center; "><a href="/undergraduate/suscription/suscribe/{{ inning.pk}}">{% trans "Suscribe" %}</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "There are yet no Innings to suscribe" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br><br>
	<div style="width: 100%; text-align: left; margin: auto;">
		{% trans "List of old Suscription" %}
	</div>
	<table style="width: 100%">
		<thead style="text-align: center; ">
			<tr>
				<td>{% trans "Inngin" %}</td>
				<td>{% trans "Date of Suscription" %}</td>	
				<td>{% trans "Date of Resolve" %}</td>	
				<td>{% trans "State" %}</td>
			</tr>
		</thead>
		<tbody>
			{% for suscription in suscriptions %}
			<tr>
				<td style="text-align: center; " >{{ suscription.inning }}</td>
				<td style="text-align: center; ">{{ suscription.suscriptionDate}}</td>
				<td style="text-align: center; ">{{ suscription.resolveDate}}</td>
				<td style="text-align: center; ">{{ suscription.state }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "There are no old suscription" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% endblock %}