*.class
*.pyc
*.pyo
.settings
.coverage
*.my
coverage_report
pylint_report
seal_dev
workspace/delivery_files
workspace/practice_files
workspace/automatic_correction_scripts
daemon/auto_correction/seal-daemon.log
workspace
output.txt
web/seal/seal.db
web/seal/locale/en/LC_MESSAGES/django.mo
web/seal/locale/es/LC_MESSAGES/django.mo
