{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}

{% if automatic_correction.status %}

<div>
	<div>
		<div class="row" style="margin: 20px 0;">
			<p>{% trans "Automatic check result:" %} 
				<span style="font-weight: bold; color: 
				{% if automatic_correction.status > 0 %}
					green
				{% else %}
					red
				{% endif %}
				;">
					{{ automatic_correction.get_status }}
				</span>
			</p>
		</div>
		<div style="padding: 10px 0 5px;"><b>{% trans "Autorun output" %}</b></div>
		<div class="output-container" >
			<pre class="output-container" >{{ automatic_correction.captured_stdout }}</pre>
		</div>
	</div>
</div>
{% else %}
	<div align="center">
		<p><h5>{% trans "This automatic check is still pending" %}</h5></p>
	</div>
{% endif %}
	<div class="row" style="margin-top: 10px;"><div class="span0"><a href="/undergraduate/delivery/upload/{{ practice.pk }}">{% trans 'Back' %}</a></div></div>
{% endblock %}