{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

{% if automatic_correction.status %}

<div>
	<div>
		<div class="row" style="margin: 20px 0;">
			<p>{% trans "Automatic check result:" %}
				<span style="font-weight: bold; color: 
				{% if automatic_correction.status > 0 %}
					green
				{% else %}
					red
				{% endif %}
				;">
					{{ automatic_correction.get_status }}
				</span>
			</p>
		</div>
		<div style="padding: 10px 0 5px;"><b>{% trans "Autorun output" %}</b></div>
		<div class="output-container" >
			<pre>{{ automatic_correction.captured_stdout }}</pre>
		</div>
	</div>
</div>
{% else %}
	<div>
		<p>This automatic check is still pending.</p>
	</div>
{% endif %}
<div><a href="javascript:history.back()">Back</a></div>
{% endblock %}