{% extends "teacher/teacher.html" %}
{% block content %}

{% if automatic_correction.status %}

<div>
	<div>
		<div>
			<p>Automatic check result: 
				<span style="font-weight: bold; color: 
				{% if automatic_correction.status == 1 %}
					green
				{% else %}
					red
				{% endif %}
				;">
					{{ automatic_correction.get_status }}
				</span>
			</p>
		</div>
		<div style="padding: 20px 0 5px;">Autorun output</div>
		<div class="output-container" >
			<pre>{{ automatic_correction.captured_stdout }}</pre>
		</div>
	</div>
</div>
{% else %}
	<div>
		<p>This automatic check is still pending.</p>
	</div>
{% endif %}
<div><a href="javascript:history.back()">back</a></div>
{% endblock %}