{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}

{% if automatic_correction.status %}
	<div>
		<div>
			<div class="row" style="margin: 0;">
				<p>{% trans "automaticCheckResult" %} 
					<span style="font-weight: bold; color: 
					{% if automatic_correction.status > 0 %}
						green
					{% else %}
						red
					{% endif %}
					;">
						{{ automatic_correction.get_status }}
					</span>
				</p>
			</div>
			<div style="padding: 10px 0 5px;">{% trans "autorunOutput" %} - {% trans 'delivery' %} <b>{{ automatic_correction.delivery.pk }}</b> - {% trans 'practice' %} <b>{{ automatic_correction.delivery.practice.uid }}</b></div>
			<div class="output-container" >
				<pre class="output-container" >{{ automatic_correction.captured_stdout }}</pre>
			</div>
		</div>
	</div>
{% else %}
	<div align="center">
		<p><h5>{% trans "automaticCheckPending" %}</h5></p>
	</div>
{% endif %}

	<footer>
		<a class="btn btn-small" href="/undergraduate/delivery/upload/{{ practice.pk }}"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</footer>
{% endblock %}