<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        {% block addl_styles %}
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
        {% endblock %}
        {% block head %}{% endblock %}
	</head>
    <body>
    	<div class="header" >SEAL</div>
    	<div class="main-container" >
    		<div class="subtitle-wrapper" >
	    		<div class="subtitle">{% block subtitle %}&nbsp;{% endblock %}</div>
	    		{% block welcome %}{% endblock %}
    		</div>
    		{% block nav %}{% endblock %}
	        {% block body %}{% endblock %}
    	</div>
    </body>
</html>
