body {
	background-color: #f5f5f5;
}

div.script-container {
	background: #E0E0E0;
	margin: auto;
	padding: 5px;
	width: 700px;
}

div.output-container {
	background: black;
	color: white;
	padding: 5px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

div.file-browser {
	border: thin solid black;
	margin: auto;
	padding: 15px;
}

pre.output-container {
	background: black;
	color: white;
	font-family: courier;
	font-size: 85%;
	text-align: left;
}
