{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<form id='formeditcoruse' action='' method='post'>
	{% csrf_token %}
	<div>{% blocktrans with course.name as coursename %}Course {{coursename}} edit{% endblocktrans %}</div>
	<table style="margin: 20px 0;">
		{{ form.as_table }}
		<tr><td colspan="2" style="text-align: right; "><input type='submit' value='{% trans "Save" %}' /></td></tr>
	</table>	
</form>
<div style="width: 800px; margin: auto; padding: 15px 0; clear: both;" >
	<div style="clear: none; width: 50%; float: left;">{% trans "Practices" %}</div>
	<div style="clear: none; text-align: right; width: 50%; float: left;"><a href="/teacher/practices/newpractice/{{ idcourse }}" >{% trans "New Practice" %}</a></div>
	<table style="width: 100%;">
		<thead style="text-align: center; ">
			<tr>
				<td>{% trans "Uid" %}</td>
				<td>{% trans "Dead Line" %}</td>
				<td>{% trans "Files" %}</td>	
				<td>{% trans "# Deliveries" %}</td>
				<td>{% trans "Correction Script" %}</td>
			</tr>
		</thead>
		<tbody>
		{% for practice in table_contents %}
		    <tr>
		    	<td style="text-align: center; " ><a href="/teacher/practices/editpractice/{{ course.pk }}/{{ practice.pk }}">{{ practice.uid }}</a></td>
		    	<td style="text-align: center; ">{{ practice.deadline }}</td>
		    	<td style="text-align: center; ">
		    		<a href="/teacher/practices/practicefile/{{ course.pk }}/{{ practice.pk }}">
			    		{% trans "Upload Files" %}
			    	</a>
		    	</td>
		    	<td style="text-align: center; "><a href="/teacher/delivery/list/{{practice.pk}}">{{ practice.ndeliveries }}</a></td>
		    	<td style="text-align: center; ">
		    		<a href="/teacher/practices/script/{{ course.pk }}/{{ practice.pk }}">
			    		{% if practice.script %}
			    			{{ practice.script }}
			    		{% else %}
			    			{% trans "no script" %}
			    		{% endif %}
		    		</a>
		    	</td>
		    </tr>
		{% empty %}
		    <tr><td colspan="4" style="text-align: center; ">{% trans "There are yet no Practices" %}</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<br><br>
	<div style="clear: none; width: 50%; float: left;">{% trans "Students" %}</div>
	<div style="clear: none; text-align: right; width: 25%; float: left;"><a href="/teacher/students/newstudent/{{ idcourse }}" >{% trans "New Student" %}</a></div>
	<div style="clear: none; text-align: right; width: 25%; float: left;"><a href="/teacher/suscription/list/{{ idcourse }}" >{% trans "Suscription" %}</a></div>
	<table style="width: 100%;">
		<thead style="text-align: center; ">
			<tr>
				<td>{% trans "Uid" %}</td>
				<td>{% trans "Name" %}</td>
				<td>{% trans "Email" %}</td>
				<td>{% trans "Corrector" %}</td>
			</tr>
		</thead>
		
		<tbody>
		{% for student in students %}
		    <tr>
		    	<td style="width: 25%; text-align: center; " ><a href="/teacher/students/editstudent/{{ idcourse }}/{{student.pk}}">{{ student.uid }}</a></td>
		    	<td style="width: 25%; text-align: center; ">{{ student.user.last_name }}</td>
		    	<td style="width: 25%; text-align: center; ">{{ student.user.email }}</td>
		    	<td style="width: 25%; text-align: center; ">
		    		{% if student.corrector %}
			    		{{ student.corrector.name }}
			    	{% else %}
			    		{% trans "no corrector" %}
			    	{% endif %}
		    	</td>
		    </tr>
		{% empty %}
		    <tr><td colspan="4" style="text-align: center; ">{% trans "There are yet no Students" %}</td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<footer><a href="/teacher">{% trans "back" %}</a></footer>
{% endblock %}