{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<form id='formeditcoruse' action='' method='post'>
	{% csrf_token %}
	<div><h4>{% blocktrans with course.name as coursename %}Course {{coursename}} edit{% endblocktrans %}</h4></div>
	<table style="margin: 20px 0;">
		{{ form.as_table }}
		<tr><td colspan="2" style="text-align: right; "><button class="btn btn-primary" type='submit' >{% trans "Save" %}</button></td></tr>
	</table>	
</form>

<div class="container" >
	<div class="row">
		<div class="span8"><h4>{% trans "Practices" %}</h4></div>
		<div class="span4" style="text-align: right;"><h5><a href="/teacher/practices/newpractice/{{ idcourse }}" >{% trans "New Practice" %}</a></h5></div>
	</div>
		
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Name Practice" %}</th>
				<th>{% trans "Dead Line" %}</th>
				<th>{% trans "Files" %}</th>	
				<th># {% trans "Deliveries" %}</th>
				<th>{% trans "Correction Script" %}</th>
			</tr>
		</thead>
		<tbody>
		{% for practice in table_contents %}
		    <tr>
		    	<td><a href="/teacher/practices/editpractice/{{ course.pk }}/{{ practice.pk }}">{{ practice.uid }}</a></td>
		    	<td>{{ practice.deadline }}</td>
		    	<td>
		    		<a href="/teacher/practices/practicefile/{{ course.pk }}/{{ practice.pk }}">
			    		{% trans "Upload Files" %}
			    	</a>
		    	</td>
		    	<td><a href="/teacher/delivery/list/{{practice.pk}}">{{ practice.ndeliveries }}</a></td>
		    	<td>
		    		<a href="/teacher/practices/script/{{ course.pk }}/{{ practice.pk }}">
			    		{% if practice.script %}
			    			{{ practice.script }}
			    		{% else %}
			    			{% trans "no script" %}
			    		{% endif %}
		    		</a>
		    	</td>
		    </tr>
		{% empty %}
		    <tr><td colspan="5" style="text-align: center; ">{% trans "There are yet no Practices" %}</td></tr>
		{% endfor %}
		</tbody>
	</table>
	
	<div class="row">
		<div class="span8"><h4>{% trans "Innings" %}</h4></div>
		<div class="span4" style="text-align: right;"><h5><a href="/teacher/innings/newinning/{{ idcourse }}" >{% trans "New Inning" %}</a></h5></div>
	</div>

	<table class="table table-striped">
		<thead style="text-align: center; ">
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Description" %}</th>
				<th># {% trans "Students" %}</th>
				<th>{% trans "Students List" %}</th>
			</tr>
		</thead>
		
		<tbody>
		{% for inning_row in table_innings %}  
		    <tr>
		    	<td><a href="/teacher/innings/editinning/{{inning_row.inning.pk}}">{{ inning_row.inning.name }}</a></td>
		    	<td>{{ inning_row.inning.description }}</td>
		    	<td>{{ inning_row.count }}</td>
		    	<td><a href="/teacher/students/list/{{inning_row.inning.pk}}">{% trans "List" %}</a></td>
		    </tr>
		{% empty %}
		    <tr><td colspan="4" style="text-align: center; ">{% trans "There are yet no Innings" %}</td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}