{% extends "teacher/teacher.html" %}	
{% load i18n %}
{% block content %}
<body>
	<div style="width: 800px; text-align: left; margin: auto;">
		<div>
			<div style="border-bottom: thin solid black; margin-bottom: 5px; clear: both; height: 16px; padding: 5px 0px;">
				<div style="clear: none; width: 50%; float: left;">{% trans "Courses List" %}</div>
			</div>
				<table style="width: 100%;">
					<tbody>
					{% for course in courses %}
					    <tr><td>{{ course.name }}</td></tr>
					{% empty %}
					    <tr><td>{% trans "0 courses" %}</td></tr>
					{% endfor %}
					</tbody>
					{% if courses|length > 0 %}
						<tfoot style="text-align: center;"><tr>
						    <td class="step-links">
						    		<a href="?page=1">{% trans "first" %}</a>
						        {% if courses.has_previous %}
						            <a href="?page={{ courses.previous_page_number }}">{% trans "previous" %}</a>
						        {% endif %}
						        <span class="current">
						            Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
						        </span>
						        {% if courses.has_next %}
						            <a href="?page={{ courses.next_page_number }}">{% trans "next" %}</a>
						        {% endif %}
						        	<a href="?page={{ courses.paginator.num_pages }}">{% trans "last" %}</a>
						    </td>
						</tr></tfoot>
					{% endif %}
				</table>
		</div>
	</div>
</body>
{% endblock %}
