{% extends "admin/base_site.html" %}
{% block content %}
<body>
	<div style="width: 800px; text-align: left; margin: auto;">
		<div>Course Home</div>
		<div>
			<div style="border-bottom: thin solid black; margin-bottom: 5px; clear: both; height: 16px; padding: 5px 0px;">
				<div style="clear: none; width: 50%; float: left;">Current Practices</div>
				<div style="clear: none; text-align: right; width: 50%; float: left;"><a href="/practices/newpractice" >New Practice</a></div>
			</div>
				<table style="width: 100%;">
					<tbody>
					{% for practice in practices %}
					    <tr><td>{{ practice.uid }}</td></tr>
					{% empty %}
					    <tr><td>0 practice</td></tr>
					{% endfor %}
					</tbody>
					{% if practices|length > 0 %}
						<tfoot style="text-align: center;"><tr>
						    <td class="pagination">
						    		<a href="?page=1">first</a>
						        {% if practices.has_previous %}
							            <a href="?page={{ contacts.previous_page_number }}">previous</a>
						        {% endif %}
						        <span class="current">
						            Page {{ practices.number }} of {{ practices.paginator.num_pages }}.
						        </span>
						        {% if practices.has_next %}
							            <a href="?page={{ contacts.next_page_number }}">next</a>
						        {% endif %}
						        	<a href="?page={{ courses.paginator.num_pages }}">last</a>
						    </td>
						</tr></tfoot>
					{% endif %}
				</table>
		</div>
		<footer><a href="/" >home</a> </footer>
	</div>
</body>
{% endblock %}
