{% extends "admin/base_site.html" %}
{% block content %}

<body>
{% if practices|length == 0 %}
    0 practice<br /><br />
{% endif %}

{% for practice in practices %}
    {{ practice.uid }}<br />
{% endfor %}

<div id="newpractice">
	<ul>
		<li><a href="/practices/newpractice" >New Practice</a></li>
	</ul>	
</div>


<div class="pagination">
    <span class="step-links">
        {% if practices.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ practices.number }} of {{ practices.paginator.num_pages }}.
        </span>

        {% if practices.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<footer><a href="/" >home</a> </footer>
</body>
{% endblock %}
