{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}

<form id='formuploadpractice' action='' method='post'>{% csrf_token %}
	UPLOAD NEW PRACTICE<br><br>
	{{ form.as_p }}
	Statement: <input type="file" name="UPLOAD" size="23"><br> 
	<input type='submit' value='Save' />
</form>

{% endblock %}