{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}
{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div>
	{% csrf_token %}
	<nav>	
		<p>
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/practices">Practices</a>
			<a href="/course">Courses</a>
			<a href="/admin">Administration</a>
			<a href="/registration">Registrate</a>
		</p>
	</nav>
	<div style="width: 800px; margin: auto; padding: 15px 0; clear: both;" >
		<div style="clear: none; text-align: right;"><a href="/course/newcourse">New Course</a></div>
		<table style="width: 100%;">
			<thead style="text-align: center; ">
				<tr><td style="width: 70%; text-indent: 15px; text-align: left; " >Courses</td>
					<td>Students</td>
				</tr>
			</thead>
			<tbody>
			{% for dict in table_contents %}
			    <tr>
			    	<td style="width: 70%; text-indent: 15px; " ><a href=/course/editcourse/{{dict.pk}}>{{ dict.name }}</a></td>
			    	<td style="width: 30%; text-align: center; ">{{ dict.count }}</td>
			    </tr>
			{% empty %}
			    <tr><td colspan="2" style="text-align: center; ">There are yet no courses</td></tr>
			{% endfor %}
			</tbody>
		</table>
<!-- 	<div style="clear: none; width: 50%; alignment-adjust: central;"><a href="/course/newcourse" >New Course</a></div> -->
	</div>
	<footer>
		<p>
			&copy; Copyright by the world
		</p>
	</footer>
</div>
{% endblock %}