{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}
{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block content %}
<div>
	<header>
		<h1>SEAL</h1>
	</header>
	{% csrf_token %}
	<nav>
		<p>
			<a href="/">Home</a>
			<a href="/students">Students</a>
			<a href="/practices">Practices</a>
			<a href="/course">Courses</a>
			<a href="/admin">Administration</a>
		</p>
	</nav>

	<footer>
		<p>
			&copy; Copyright by the world
		</p>
	</footer>
</div>
{% endblock %}