{% load i18n %}
{% comment %}
Main page to authenticate users.
{% endcomment %}

{% block addl_styles %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block head %}
<title>SEAL | Login</title>
{% endblock %}

{% block body %}
<div class="container" >
	<form class="form-signin" method="post" action=".">
		<h2 align="center" class="form-signin-heading">{% trans "Login SEAL" %}</h2>
		{% csrf_token %}
		{% if form.errors %}
		<p align="center" style="color: red" class="error" >
			{% trans "Your username and password didn't match. Please try again." %}
		</p>
		{% endif %}

		<div class="row">
			<label for="id_username" >{% trans "username" %}</label>{{ form.username }}
		</div>
		<div class="row"  >
			<label for="id_password">{% trans "password" %}</label>{{ form.password }}
		</div>
		<div class="row"  >
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
		<div align="center">
			<button  class="btn btn-large btn-primary" type="submit">
				{% trans "logIn" %}
			</button>
		</div>
		<hr />
		<div class="row"  >
			{% trans "New to SEAL?" %} <a href="/registration">{% trans "registration" %}</a>!
		</div>
		<div class="row"  >
			{% trans "Forgot your Password?" %} <a href="/recoverypass"> {% trans "passwordRecovery" %}</a>
		</div>

	</form>
	

</div>
{% endblock %}
