{% extends "base.html" %}
{% load i18n %}
{% comment %}

Main page to recovery password.

{% endcomment %}
{% block addl_styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
{% endblock %}
{% block head %}
<title>SEAL | Recovery Password</title>
{% endblock %}
{% block subtitle %}{% trans "Recovery Password" %}{% endblock %}
{% block body %}
<nav>
	<p>
		<a href="/">{% trans "Login" %}</a>
	</p>
</nav>
<div class="content" >
	<form method="post">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" value="{% trans 'Recover' %}" style="margin: 5px 0 5px 205px; width: 70px; " />
	</form>
</div>
{% endblock %}