{% load i18n admin_static %}
{% block extrastyle %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block body %}
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">ALGO3FIUBA</a>
				<div class="nav-collapse collapse">
					{% block nav %}{% endblock %}
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<br>
	<h3 align="center" class="form-signin-heading">
	<p>
		{% trans "Recovery completed successfully!" %}
	</p>
		<p>
		{% trans "Check your email to see the recovery info" %}	
	</p>
	<p>
		<a href="/">{% trans "Log me in" %}</a>
	</p></h3>
</body>
{% endblock %}