{% load bootstrap_toolkit %}
{% load i18n admin_static %}

{% block extrastyle %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block head %}
<title>SEAL | Registarte</title>
{% endblock %}

{% block body %}
<body>
    <div class="container">
		<form class="form-horizontal" action="" method="post" >
			<h3>Registrate on SEAL</h3>
			{% csrf_token %}
			{{ form|as_bootstrap  }}
			<span class="validation_error">{{ captcha_response }}</span><script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{captcha_publick}}"></script>
			<noscript>
				<iframe src="http://api.recaptcha.net/noscript?k={{captcha_publick}}" height="300" width="500" frameborder="0"></iframe>
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
			</noscript>
			<br>
			<div align="center">
				<button  class="btn btn-large btn-primary" type="submit">
					Registate
				</button>
			</div>
		</form>
	</div>
</body>
{% endblock %}
