{% load i18n admin_static %}
{% block extrastyle %}
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block head %}
<title>{% trans 'brand' %} | {% trans 'registrate' %}</title>
{% endblock %}

{% block body %}
<div class="container">
	<h3 align="center" class="form-signin-heading">
	<p>{% trans "firstLineMessageRegistrationSuccesfull" %}</p>
	<p>{% trans "secondLineMessageRegistrationSuccesfull" %}</p>
	<p><a href="/">{% trans "logIn" %}</a></p>
	</h3>
</div>
{% endblock %}