{% extends "teacher/teacher.html" %}
{% block content %}
<form id='formeditcoruse' action='' method='post'>
	{% csrf_token %}
	<div>Course {{course.name}} edit</div>
	<table style="margin: 20px 0;">
		{{ form.as_table }}
		<tr><td colspan="2" style="text-align: right; "><input type='submit' value='Save' /></td></tr>
	</table>	
</form>
<div style="width: 800px; margin: auto; padding: 15px 0; clear: both;" >
	<div style="clear: none; width: 50%; float: left;">Practices</div>
	<div style="clear: none; text-align: right; width: 50%; float: left;"><a href="/teacher/practices/newpractice/{{ idcourse }}" >New Practice</a></div>
	<table style="width: 100%;">
		<thead style="text-align: center; ">
			<tr>
				<td>Uid</td>
				<td>Dead Line</td>
				<td># Deliveries</td>
				<td>Script</td>
			</tr>
		</thead>
		<tbody>
		{% for dict in table_contents %}
		    <tr>
		    	<td style="text-align: center; " ><a href="/teacher/practices/editpractice/{{ course.pk }}/{{ dict.pk }}">{{ dict.uid }}</a></td>
		    	<td style="text-align: center; ">{{ dict.deadline }}</td>
		    	<td style="text-align: center; "><a href="/teacher/delivery/list/{{dict.pk}}">{{ dict.ndeliveries }}</a></td>
		    	<td style="text-align: center; ">
		    		<a href="/teacher/practices/script/{{ course.pk }}/{{ dict.pk }}">
			    		{% if dict.script %}
			    			{{ dict.script }}
			    		{% else %}
			    			no script
			    		{% endif %}
		    		</a>
		    	</td>
		    </tr>
		{% empty %}
		    <tr><td colspan="4" style="text-align: center; ">There are yet no Practices</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<br><br>
	<div style="clear: none; width: 50%; float: left;">Students</div>
	<div style="clear: none; text-align: right; width: 25%; float: left;"><a href="/teacher/students/newstudent/{{ idcourse }}" >New Student</a></div>
	<div style="clear: none; text-align: right; width: 25%; float: left;"><a href="/teacher/suscription/list/{{ idcourse }}" >Suscription</a></div>
	<table style="width: 100%;">
		<thead style="text-align: center; ">
			<tr>
				<td>Uid</td>
				<td>Name</td>
				<td>Email</td>
			</tr>
		</thead>
		
		<tbody>
		{% for student in table_students %}
		    <tr>
		    	<td style="width: 33%; text-align: center; " ><a href="/teacher/students/editstudent/{{ idcourse }}/{{student.pk}}">{{ student.uid }}</a></td>
		    	<td style="width: 33%; text-align: center; ">{{ student.name }}</td>
		    	<td style="width: 33%; text-align: center; ">{{ student.email }}</td>
		    </tr>
		{% empty %}
		    <tr><td colspan="4" style="text-align: center; ">There are yet no Students</td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<footer><a href="/teacher">back</a></footer>
{% endblock %}