{% extends "teacher/teacher.html" %}
{% block content %}
<body>
	<div style="width: 800px; text-align: left; margin: auto;">
		<div>Course Home</div>
		<div>
			<div style="border-bottom: thin solid black; margin-bottom: 5px; clear: both; height: 16px; padding: 5px 0px;">
				<div style="clear: none; width: 50%; float: left;">Current Courses</div>
				<div style="clear: none; text-align: right; width: 50%; float: left;"><a href="/course/newcourse">New Course</a></div>
			</div>
				<table style="width: 100%;">
					<tbody>
					{% for course in courses %}
					    <tr><td>{{ course.name }}</td></tr>
					{% empty %}
					    <tr><td>0 courses</td></tr>
					{% endfor %}
					</tbody>
					{% if courses|length > 0 %}
						<tfoot style="text-align: center;"><tr>
						    <td class="step-links">
						    		<a href="?page=1">first</a>
						        {% if courses.has_previous %}
						            <a href="?page={{ courses.previous_page_number }}">previous</a>
						        {% endif %}
						        <span class="current">
						            Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
						        </span>
						        {% if courses.has_next %}
						            <a href="?page={{ courses.next_page_number }}">next</a>
						        {% endif %}
						        	<a href="?page={{ courses.paginator.num_pages }}">last</a>
						    </td>
						</tr></tfoot>
					{% endif %}
				</table>
		</div>
		<footer><a href="/" >home</a> </footer>
	</div>
</body>
{% endblock %}
