{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block bodyclass %}dashboard{% endblock %}
{% block content %}

<html>
	<head>
		<title>Course - Home</title>
	</head>
	<body>
		<div>
			<div>Course Home</div>
			<div>
				<ul>
					<li><a href="/course/newcourse">New Course</a></li>
				</ul>
			</div>
			<div><a href="/" >home</a></div>
		</div>
	</body>
</html>

{% endblock %}