{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block bodyclass %}dashboard{% endblock %}
{% block content %}

<form id='formnewcoruse' action='' method='post'>
	{% csrf_token %}
	<table>
		NEW COURSE<br><br>
		{{ form.as_table }}
	</table>
	<input type='submit' value='Save' />
	<input type='reset' value='Reset' /> 
	<div><a href="/" >home</a> | <a href="/course">back</a></div>
</form>

{% endblock %}