{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block title %}Teacher{% endblock %}
{% block content %}
<div style="width: 100%; text-align: left; margin: auto;">
	<h3>{% trans "Courses List" %}</h3>
	<div align="right"><a href="/teacher/course/newcourse">{% trans "New Course" %}</a></div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<td><b>{% trans "Courses" %}</b></td>
			<td><b># {% trans "Students" %}</b></td>
		</tr>
	</thead>
	<tbody>
		{% for dict in table_contents %}
		<tr>
			<td><h5><a href="/teacher/course/editcourse/{{dict.pk}}">{{ dict.name }}</a></h5></td>
			<td><h5>{{ dict.count }}</h5></td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="2" style="text-align: center; ">{% trans "There are yet no courses" %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<table style="width: 110%;" class="table table-striped">
	<thead>
		<tr>
			<td><b>{% trans "Delivery" %}</b></td>
			<td><b>{% trans "Student" %}</b></td>
			<td><b>{% trans "Practice" %}</b></td>
			<td><b>{% trans "Delivery Date" %}</b></td>
			<td><b>{% trans "Download" %}</b></td>
			<td><b>{% trans "Correction" %}</b></td>
			<td><b>{% trans "Automatic Correction" %}</b></td>
			<td><b>{% trans "Navigate" %}</b></td>
		</tr>
	</thead>
	<tbody>
		<div style="clear: none; width: 50%; float: left;">
			<h3>{% trans "List of my corrections" %}</h3>
		</div>
		{% for delivery_row in table_deliveries %}
		<tr>
			<td>{{ delivery_row.delivery.pk }}</td>
			<td>{{ delivery_row.delivery.student.uid }}</td>
			<td>{{ delivery_row.delivery.practice.uid }}</td>
			<td>{{ delivery_row.delivery.deliverDate }}</td>
			<td><a href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}">{% trans "Download" %}</a></td>
			<td><a href="/teacher/correction/{{ delivery_row.delivery.pk}}/1"> {% if delivery_row.correction %}
			{% trans "Corrected" %}
			{% else %}
			{% trans "Pending" %}
			{% endif %} </a></td>
			<td><a href="/teacher/automatic_correction/{{ delivery_row.delivery.pk }}">{{ delivery_row.delivery.get_automatic_correction.get_status }} </a></td>
			<td><a href="/teacher/delivery/explore/{{ delivery_row.delivery.pk }}"><img src="{{ STATIC_URL }}img/folder-icon.png" /></a></td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="8" style="text-align: center; ">{% trans "There are no corrections" %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}