{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block title %}Teacher{% endblock %}
{% block content %}
<div class="row" style="margin: 0;">
	<h4>{% trans "Courses List" %}</h4>
	<div align="right"><a href="/teacher/course/newcourse">{% trans "New Course" %}</a></div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>{% trans "Courses" %}</th>
			<th># {% trans "Students" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for dict in table_contents %}
		<tr>
			<td><a href="/teacher/course/editcourse/{{dict.pk}}">{{ dict.name }}</a></td>
			<td>{{ dict.count }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="2" style="text-align: center; ">{% trans "There are yet no courses" %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="row" style="margin: 0;">
	<h4>{% trans "List of my corrections" %}</h4>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>{% trans "Delivery" %}</th>
			<th>{% trans "Student" %}</th>
			<th>{% trans "Practice" %}</th>
			<th>{% trans "Delivery Date" %}</th>
			<th>{% trans "Download" %}</th>
			<th>{% trans "Correction" %}</th>
			<th>{% trans "Automatic Correction" %}</th>
			<th>{% trans "Navigate" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for delivery_row in table_deliveries %}
		<tr>
			<td>{{ delivery_row.delivery.pk }}</td>
			<td>{{ delivery_row.delivery.student.uid }}</td>
			<td>{{ delivery_row.delivery.practice.uid }}</td>
			<td>{{ delivery_row.delivery.deliverDate }}</td>
			<td><a href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}">{% trans "Download" %}</a></td>
			<td><a href="/teacher/correction/{{ delivery_row.delivery.pk}}/1"> {% if delivery_row.correction %}
			{% trans "Corrected" %}
			{% else %}
			{% trans "Pending" %}
			{% endif %} </a></td>
			<td><a href="/teacher/automatic_correction/{{ delivery_row.delivery.pk }}">{{ delivery_row.delivery.get_automatic_correction.get_status }} </a></td>
			<td><a href="/teacher/delivery/explore/{{ delivery_row.delivery.pk }}"><img src="{{ STATIC_URL }}img/folder-icon.png" /></a></td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="8" style="text-align: center; ">{% trans "There are no corrections" %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}