{% extends "base.html" %}
{% load i18n %}
{% comment %}
This is the main template for all teacher pages.
{% endcomment %}

{% block head %}
	<title>SEAL</title>
{% endblock %}

{% block subtitle %}{% trans "Teacher" %}{% endblock %}

{% if user.teacher_set.all %}
	{% block nav_opts %}
		<li>
		    <div class="btn-group">
		    	{% if current_course %}
			    	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{ current_course.name }} <span class="caret"></span></a>
			    {% else %}
			    	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'no_courses' %} <span class="caret"></span></a>
			    {% endif %}
			    <ul class="dropdown-menu">
			    	{% for course in courses %}
						<li>
							<a tabindex="-1" href="/teacher/{{ course.pk }}">
								{{ course.name }}
							</a>
						</li>
					{% endfor %}
					<li class="divider"></li>
					<li><a tabindex="-1" href="/teacher/course/newcourse/{{ current_course.pk }}" ><span class="icon-plus-sign"></span> {% trans "New Course" %}</a></li>
			    </ul>
		    </div>
		</li>
		<li><a href="/teacher/{{ current_course.pk }}" title="{% trans 'Home' %}"><span class="icon-home"></span></a></li>
		{% if current_course %}
			<li><a name="edit{{ course.name }}" title="{% trans 'edit_course' %}" href="/teacher/course/editcourse/{{ current_course.pk }}"><span class="icon-edit" ></span></a></li>
			<li><a href="/teacher/suscription/listsuscriptionpending/{{ current_course.pk }}" title="{% trans 'subscriptions' %}"><span class="icon-user"></span></a></li>
			<li><a href="/teacher/students/pendingdelivery/{{ current_course.pk }}" title="{% trans 'pending_deliveries' %}"><span class="icon-warning-sign"></span></a></li>
			<li><a href="/teacher/export/{{ current_course.pk }}" title="{% trans 'data_export' %}"><span class="icon-download"></span></a></li>
		{% endif %}
	{% endblock %}
	{% block action_opts %}
		{% if current_course %}
			<li>
				<form id='form-search-student' action='/teacher/students/search/{{ current_course.pk }}/' method='post' style="margin: 0; padding: 2px 0px" >
					{% csrf_token %}
					<table>
						<tr>
							<td style="padding: 2px 0;" >
								<input class="search-query" type="text" name="data_search" maxlength="100" placeholder="search" style="margin: 0; width: 150px;" value="{{ query }}" />
								<!-- this way we get a submittable form with no button --><input type="submit" style="display:none"/>
							</td>
						</tr>
					</table>
				</form>
			</li>
		{% endif %}
		<li class="divider-vertical"></li>
		<li><div class="row-fluid">
			<div class="span12 welcome">
				{% trans "Welcome" %} {{ user.first_name }} {{ user.last_name }}
			</div>
		</div></li>
		<li><a href="/changepassw/" title="{% trans 'Change Password' %}" ><span class="icon-lock"></span></a></li>
		<li><a href="/logout/" title="{% trans 'Logout' %}"><span class="icon-off" style="width: 24px; height: 24px;"></span></a></li>
	{% endblock %}
	{% block body %}
		{% block content %}{% endblock %}
	{% endblock %}
{% else %}
	<div class="container" >
		<p style="color: #A44; font-weight: bold; text-align: center;">{% trans "You are not allowed in this section" %}</p>
	</div>
{% endif %}
