{% extends "base.html" %}
{% load i18n %}
{% comment %}
This is the main template for all teacher pages.
{% endcomment %}

{% block head %}
	<title>SEAL</title>
{% endblock %}

{% block subtitle %}{% trans "Teacher" %}{% endblock %}

{% if user.teacher_set.all %}
	{% block nav_opts %}
		<li><a href="/">{% trans "Home" %}</a></li>	       
		<li class="divider-vertical"></li>
		<li><a href="/teacher/suscription/listsuscriptionpending/">{% trans "subscriptions" %}</a></li>
		<li class="divider-vertical"></li>
		<li><a href="/teacher/students/pendingdelivery/">{% trans "pending_deliveries" %}</a></li>
		<li class="divider-vertical"></li>
		<li><a href="/teacher/export/">{% trans "data_export" %}</a></li>
		<li class="divider-vertical"></li>
		<li>
			<form id='form-search-student' action='/teacher/students/search/' method='post' style="margin: 0; padding: 2px 0px" >
				{% csrf_token %}
				<table>
					<tr>
						<td style="padding: 2px 0;" ><input type="text" name="data_search" maxlength="100" placeholder="search" style="margin: 0; width: 150px;" value="{{ query }}" /></td>
						<td style="padding: 2px 0;" ><button  class="btn" type="submit" style="margin: 0;" ><img style="height: 20px;" src="{{ STATIC_URL }}img/glyphicons_search.png" alt="{% trans 'Search' %}" /></button></td>
					</tr>
				</table>
			</form>
		</li>
		<li class="divider-vertical"></li>
		<li><a href="/changepassw/">{% trans "Change Password" %}</a></li>
		<li class="divider-vertical"></li>
		<li><a href="/logout/">{% trans "Logout" %}</a></li>
		<li class="divider-vertical"></li>
	{% endblock %}
	{% block body %}
		{% block content %}{% endblock %}
	{% endblock %}
{% else %}
	<div class="container" >
		<p style="color: #A44; font-weight: bold; text-align: center;">{% trans "You are not allowed in this section" %}</p>
	</div>
{% endif %}
