{% extends "base.html" %}
{% load i18n %}
{% comment %}
This is the main template for all teacher pages.
{% endcomment %}
{% block addl_styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/teacher.css" />
{% endblock %}
{% block head %}
    <title>SEAL | {% block title %}{% endblock %}</title>
{% endblock %}
{% block subtitle %}{% trans "Teacher" %}{% endblock %}
{% block welcome %}
	<div class="row">
		<div class="span4">{% trans "Welcome" %} {{ user.first_name }} {{ user.last_name }}</div>
		<div class="span2"><a href="/changepassw/">{% trans "Change Password" %}</a></div>
		<div class="span2"><a href="/logout/">{% trans "Logout" %}</a></div>
	</div>
{% endblock %}
{% if user.teacher_set.all %}
	{% block nav %}
		<nav>
			<a href="/teacher">{% trans "Home" %}</a> | 
			<a href="/#">Pending Subscriptions</a> | 
			<a href="/teacher/students/pendingdelivery/">Students without deliveries</a>
		</nav>
	{% endblock %}
	{% block body %}
		<div class="main-content" >
		    {% block content %}{% endblock %}
	    </div>
	{% endblock %}
{% else %}
	<div class="main-content" >
    	<p style="color: #A44; font-weight: bold; text-align: center;">{% trans "You are not allowed in this section" %}</p>
    </div>
{% endif %}
