{% extends "undergraduate/undergraduate.html" %}
{% load i18n %}
{% comment %}

Main page of the Undergraduate's portal.

{% endcomment %}

{% block title %}
Undergraduate
{% endblock %}

{% block content %}
	<table class="table table-striped">
		<thead style="text-align: center; ">
			<tr><td style="width: 70%; text-indent: 15px; text-align: left; " ><h4>{% trans "Courses - Innings" %}</h4></td></tr>
		</thead>
		<tbody>
		{% for inning in innings %}
		    <tr>
		    	<td style="text-indent: 15px; " ><h5><a href="/undergraduate/practice/list/{{inning.course.pk}}">{{ inning }}</a></h5></td>
		    </tr>
		{% empty %}
		    <tr><td colspan="2" style="text-align: center; ">{% trans "There are yet no innings in which you are enrolled" %}</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
	<div style="clear: none; alignment-adjust: central;"><h5>{% trans "Subscription on a new course here " %}<a href="/undergraduate/suscription/" >{% trans "Suscription" %}</a></h5></div> 
{% endblock %}