{% extends "base.html" %}
{% load i18n %}
{% comment %}
	This is the main template for all undergraduate (students) pages.
{% endcomment %}

{% block head %}
    <title>{% trans 'brand' %}</title>
{% endblock %}

{% block title_view %}{% trans "studentView" %}{% endblock %}

{% block nav_opts %}
   	<li><a href="/undergraduate/{{ current_course.pk }}" title="{% trans 'home' %}"><span class="icon-home"></span></a></li>
{% endblock %}
{% block action_opts %}
	<li><div class="row-fluid">
		<div class="span12 welcome">
			{% trans "welcome" %} {{ user.first_name }} {{ user.last_name }}
		</div>
	</div></li>
	<li><a name="changepassword" href="/changepassw/" title="{% trans 'changePassword' %}" ><span class="icon-lock"></span></a></li>
	<li><a name="logout" href="/logout/" title="{% trans 'logOut' %}"><span class="icon-off" style="width: 24px; height: 24px;"></span></a></li>
{% endblock %}

{% block body %}
	{% if user.student_set.all %}
		<div class="container-fluid">
	    	{% block content %}{% endblock %}
		</div>
	{% else %}
		<div class="container-fluid" >
	    	<p>{% trans "notAllowedSeccion" %}</p>
	    </div>
	{% endif %}
{% endblock %}
