{% extends "undergraduate/index.html" %}
{% block content %}
<body>
	<div style="width: 100%; text-align: left; margin: auto;">
		Practices - Course {{ coursename }}
	</div>
	<table style="width: 100%">
		<thead style="text-align: center; ">
			<tr>
				<td>Uid</td>
				<td>Dead Line</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for practice in practices %}
			<tr>
				<td style="text-align: center; " >{{ practice.uid }}</td>
				<td style="text-align: center; ">{{ practice.deadline }}</td>
				<td style="text-align: center; "><a href="/undergraduate/practice/download/{{ practice.pk}}">Download</a></td>
				<td style="text-align: center; "><a href="/undergraduate/delivery/upload/{{ practice.pk}}">Delivery</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">There are yet no Practices</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
{% endblock %}