{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<body>
	<div style="width: 800px; text-align: left; margin: auto;">
		<div style="width: 100%; text-align: left; margin: auto;">
			<h3>{% trans "Student with pending delivery" %}</h3>
		</div>
		{% for row in final_list %}
		<td><h4>Course: {{ row.course }}</h4></td>
		<div>
			{% for content in row.data %}
			<td><h5>Practice: {{ content.practice.uid }}</h5></td>
			<table class="table table-striped">
				<thead style="text-align: center;">
					<tr>
						<td><b>Uid</b></td>
						<td><b>Name</b></td>
						<td><b>Inning</b></td>
					</tr>
				</thead>
				<tbody>
					{% for student_inning in content.student_inning_list %}
					<tr>
						<td>{{ student_inning.student.uid }}</td>
						<td>{{ student_inning.student.get_full_name }}</td>
						<td>{{ student_inning.inning.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
		{% empty %}
		<table class="table table-striped">
			<tbody>
				<tr>
					<td style="text-align: center;">{% trans "There are no student with pending delivery" %}</td>
				</tr>
			</tbody>
		</table>
		{% endfor %}
	</div>
</body>
{% endblock %}
