{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

	<div class="row" style="margin-top: 30px; margin-bottom: 10px; ">
		<div class="span8">{% trans "Students of Shift" %} <b>{{ shift }}</b></div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Uid" %}</th>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Email" %}</th>
				<th>{% trans "Corrector" %}</th>
				<th>{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ student.uid }}</td>
				<td>{{ student.get_full_name }}</td>
				<td>{{ student.user.email }}</td>
				<td> {% if student.corrector %}
				{{ student.corrector.user.last_name }}
				{% else %}
				{% trans "no corrector" %}
				{% endif %} </td>
				<td>
					<a name="detail{{student.uid}}" title="{% trans 'Detail' %}" class="icon-user" href="/teacher/students/detail/{{student.pk}}"></a>
					<a name="edit{{student.uid}}" title="{% trans 'Edit' %}" class="icon-edit" href="/teacher/students/editstudent/{{ shift.pk }}/{{student.pk}}"></a>
					<a title="{% trans 'Deliveries List' %}" class="icon-inbox" href="/teacher/students/listdeliveries/{{student.pk}}"></a>	
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="5" style="text-align: center; ">{% trans "There are yet no Students" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row" style="margin-top: 20px; margin-bottom: 20px; ">
		<div class="span8"><a name="newstudent" href="/teacher/students/newstudent/{{ shift.pk }}" class="btn btn-primary">+ {% trans "New Student" %}</a></div>
		<div class="span4" style="text-align: right;"><a name="suscription" href="/teacher/suscription/list/{{ shift.pk }}" class="btn btn-info">{% trans "Suscription" %}</a></div>
	</div>
	<div><a href="/teacher/course/detailcourse/{{ shift.course.pk  }}">{% trans "Back" %}</a></div>
{% endblock %}