{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid" >
	<div class="row-fluid">
		<div class="span12">
			{% trans "Deliveries of student "%}<b>{{ student.get_full_name}} ({{ student.uid }})</b>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Delivery" %}</th>
				<th>{% trans "Student" %}</th>
				<th>{% trans "Practice" %}</th>
				<th>{% trans "Delivery Date" %}</th>
				<th>{% trans "Correction" %}</th>
				<th>{% trans "Automatic Correction" %}</th>
				<th>{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for delivery_row in table_deliveries %}
			<tr>
				<td>{{ delivery_row.delivery.pk }}</td>
				<td>{{ delivery_row.delivery.student.uid }}</td>
				<td>{{ delivery_row.delivery.practice.uid }}</td>
				<td>{{ delivery_row.delivery.deliverDate }}</td>
				<td>{% if delivery_row.correction %} <span class="label label-success">{% trans "Corrected" %}</span> {% else %} <span class="label label-warning">{% trans "Pending" %}</span> {% endif %} </td>
				<td>
					{% if delivery_row.delivery.get_automatic_correction.get_status == 'successfull' %}
						<span class="label label-success">{{ delivery_row.delivery.get_automatic_correction.get_status }}</span>
					{% elif delivery_row.delivery.get_automatic_correction.get_status == 'failed' %}
						<span class="label label-important">{{ delivery_row.delivery.get_automatic_correction.get_status }}</span>
					{% else %}
						<span class="label label-warning">{{ delivery_row.delivery.get_automatic_correction.get_status }}</span>
					{% endif %}
				</td>
				<td>
					<a title="{% trans 'Download' %}" class="icon-download" href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}"></a>
					<a title="{% trans 'Automatic Correction' %}" class="icon-certificate" href="/teacher/automatic_correction/{{ current_course.pk }}/{{ delivery_row.delivery.pk }}"></a>
					<a title="{% trans 'Navigate' %}" class="icon-folder-open" href="/teacher/delivery/explore/{{ current_course.pk }}/{{ delivery_row.delivery.pk }}"></a>
					<a title="{% trans 'Correct' %}" class="icon-pencil" href="/teacher/correction/{{ current_course.pk }}/{{ delivery_row.delivery.pk}}"></a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="7" style="text-align: center; ">{% trans "There are yet no deliveries of this student" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
		<a class="btn btn-small" href="javascript:history.back()"><span class="icon-backward" title="{% trans 'Back' %}"></span></a>
	</div>
</div>
{% endblock %}
