{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<body>
	<div style="width: 100%; margin: auto; padding: 15px 0; clear: both;" >
		<div style="clear: none; width: 50%; float: left;">
			{% trans "Deliveries of student "%} {{ student.user.first_name }} {{ student.user.last_name }} ({{ student.uid }})
			<br>
			<br>
		</div>
		<table style="width: 100%;">
			<thead style="text-align: center; ">
				<tr>
					<td>{% trans "Uid" %}</td>
					<td>{% trans "Practice" %}</td>
					<td>{% trans "Delivery Date" %}</td>
					<td>{% trans "Delivery" %}</td>
					<td>{% trans "Correction" %}</td>
					<td>{% trans "Automatic Correction" %}</td>
					<td>{% trans "Navigate" %}</td>
				</tr>
			</thead>
			<tbody>
				{% for delivery_row in table_deliveries %}
				<tr>
					<td style="text-align: center; " >{{ delivery_row.delivery.pk }}</td>
					<td style="text-align: center; ">{{ delivery_row.delivery.practice.uid }}</td>
					<td style="text-align: center; ">{{ delivery_row.delivery.deliverDate }}</td>
					<td style="text-align: center; "><a href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}">{% trans "Download" %}</a></td>
					<td style="text-align: center; "><a href="/teacher/correction/{{ delivery_row.delivery.pk}}/4">
					{% if delivery_row.correction %}
			    	{% trans "Corrected" %}
			    	{% else %}
			    	{% trans "Pending" %}
			    	{% endif %}	
					</a></td>
					<td style="text-align: center; "><a href="/teacher/automatic_correction/{{ delivery_row.delivery.pk }}">{{ delivery_row.delivery.get_automatic_correction.get_status }}</a></td>
					<td style="text-align: center; "><a href="/teacher/delivery/explore/{{ delivery_row.delivery.pk }}"><img src="{{ STATIC_URL }}img/folder-icon.png" /></a></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="7" style="text-align: center; ">{% trans "There are yet no deliveries of this student" %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="/teacher/students/list/{{inning.pk}}">{% trans "back" %}</a>
</body>
{% endblock %}
