{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
	<div class="container" >
		<div class="row" style="margin: auto; padding: 15px 0;">
			{% trans "Deliveries of student "%}<b>{{ student.get_full_name}} ({{ student.uid }})</b>	
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans "Uid" %}</th>
					<th>{% trans "Practice" %}</th>
					<th>{% trans "Delivery Date" %}</th>
					<th>{% trans "Delivery" %}</th>
					<th>{% trans "Correction" %}</th>
					<th>{% trans "Automatic Correction" %}</th>
					<th>{% trans "Navigate" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for delivery_row in table_deliveries %}
				<tr>
					<td>{{ delivery_row.delivery.pk }}</td>
					<td>{{ delivery_row.delivery.practice.uid }}</td>
					<td>{{ delivery_row.delivery.deliverDate }}</td>
					<td><a href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}">{% trans "Download" %}</a></td>
					<td><a href="/teacher/correction/{{ delivery_row.delivery.pk}}/4">
					{% if delivery_row.correction %}
			    		{% trans "Corrected" %}
			    	{% else %}
			    		{% trans "Pending" %}
			    	{% endif %}	
					</a></td>
					<td><a href="/teacher/automatic_correction/{{ delivery_row.delivery.pk }}">{{ delivery_row.delivery.get_automatic_correction.get_status }}</a></td>
					<td><a href="/teacher/delivery/explore/{{ delivery_row.delivery.pk }}"><img src="{{ STATIC_URL }}img/folder-icon.png" /></a></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="7" style="text-align: center; ">{% trans "There are yet no deliveries of this student" %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div><a href="/teacher/students/list/{{shift.pk}}">{% trans "Back" %}</a></div>
	</div>
{% endblock %}
