{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

<form id='formliststudent' action='' method='post'>
	{% csrf_token %}
	<div style="clear: none; width: 50%; float: left;">
		Students of Inning {{ inning }}
	</div>
	<div style="clear: none; text-align: right; width: 25%; float: left;">
		<a href="/teacher/students/newstudent/{{ inning.pk }}" >{% trans "New Student" %}</a>
	</div>
	<div style="clear: none; text-align: right; width: 25%; float: left;">
		<a href="/teacher/suscription/list/{{ inning.pk }}" >{% trans "Suscription" %}</a>
	</div>
	<br>
	<table style="width: 100%;">
		<thead style="text-align: center; ">
			<tr>
				<td>{% trans "Uid" %}</td>
				<td>{% trans "Name" %}</td>
				<td>{% trans "Email" %}</td>
				<td>{% trans "Corrector" %}</td>
				<td>{% trans "Deliveries" %}</td>
			</tr>
		</thead>

		<tbody>
			{% for student in students %}
			<tr>
				<td style="width: 25%; text-align: center; " ><a href="/teacher/students/editstudent/{{ inning.pk }}/{{student.pk}}">{{ student.uid }}</a></td>
				<td style="width: 25%; text-align: center; ">{{ student.user.last_name }}</td>
				<td style="width: 25%; text-align: center; ">{{ student.user.email }}</td>
				<td style="width: 25%; text-align: center; "> {% if student.corrector %}
				{{ student.corrector.user.last_name }}
				{% else %}
				{% trans "no corrector" %}
				{% endif %} </td>
				<td style="width: 25%; text-align: center; " ><a href="/teacher/students/listdeliveries/{{student.pk}}/{{ inning.pk }}">{% trans "List" %}</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="5" style="text-align: center; ">{% trans "There are yet no Students" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div><a href="/teacher/course/editcourse/{{ inning.course.pk  }}">{% trans "back" %}</a></div>
</form>

{% endblock %}