{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container">
	<h4>{% trans "New student" %}</h4>
	<form id='form-new-student' action='' method='post' >
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit'>{% trans "Save" %}</button>
	</form>
		<div>
		{% if idshift %}
			<a class="btn btn-small" href="/teacher/students/listshift/{{ current_course.pk }}/{{ idshift }}"><span class="icon-backward" title="{% trans 'Back' %}"></span></a>
		{% else %}
			<a class="btn btn-small" href="/teacher/students/list/{{ current_course.pk }}"><span class="icon-backward" title="{% trans 'Back' %}"></span></a>
		{% endif %}
	</div>
</div>
{% endblock %}
