{% extends "teacher/index.html" %}
{% load i18n %}
{% block content %}
<div class="container">
	<div class="row" style="margin: 0;">
		<h4>{% trans "Student Search" %}</h4>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Uid" %}</th>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Email" %}</th>
				<th>{% trans "Corrector" %}</th>
				<th>{% trans "Deliveries" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ student.uid }}</td>
				<td>{{ student.get_full_name }}</td>
				<td>{{ student.user.email }}</td>
				<td> {% if student.corrector %}
				{{ student.corrector.user.last_name }}
				{% else %}
				{% trans "no corrector" %}
				{% endif %} </td>
				<td>{% trans "List" %}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="5" style="text-align: center; ">{% trans "There are no result" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}