{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid">
	<form id='form-edit-practice' action='' method='post' >
		{% csrf_token %}
			<div class="row-fluid" style="margin: 20px 0;">Edit File: <b>{{ file_basename }}</b></div>
		{% if edited %}
			<div class="row-fluid" style="margin: 20px 0;"><b>{% trans "Edited successfully" %}</b></div>
		{% endif %}
		<table style="width: 95%; margin: auto;">
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit' >{% trans "Save" %}</button>
	</form>
	<div><a href="/teacher/practices/practicefile/{{ practicefile.practice.course.pk }}/{{ practicefile.practice.pk }}/">{% trans "Back" %}</a></div>
</div>
{% endblock %}
