{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid">
	<form id='form-edit-practice' action='' method='post' >
		{% csrf_token %}
			<div class="row-fluid" style="margin: 20px 0;">{% trans "editPracticeFile" %}: <b>{{ file_basename }}</b></div>
		{% if edited %}
			<div class="row-fluid" style="margin: 20px 0;"><b>{% trans "editedSuccessfully" %}</b></div>
		{% endif %}
		<table style="width: 95%; margin: auto;">
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit' >{% trans "save" %}</button>
	</form>
	<div><a class="btn btn-small" href="/teacher/practices/practicefile/{{ practicefile.practice.course.pk }}/{{ practicefile.practice.pk }}/"><span class="icon-backward" title="{% trans 'back' %}"></span></a></div>
</div>
{% endblock %}
