{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
	<div class="row" style="margin: 20px 0;">
		{% blocktrans %} Files of Practice <b>{{ practicename }}</b> {% endblocktrans %}
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for file in practiceFiles %}
			<tr>
				<td>{{ file.name }}</td>
				<td>
					<a href="/undergraduate/practice/download/{{ file.pk }}" title="{% trans 'Download' %}">
						<span class="icon-circle-arrow-down"></span>
					</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2" style="text-align: center; ">{% trans "There are no files bounded to this practice" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<footer>
		<a href="/undergraduate/practice/list/{{idcourse}}">{% trans "Back" %}</a>
	</footer>
{% endblock %}