{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
	<div class="row">
		{% trans "filesOfPractice" %} <b>{{ practicename }}</b>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "name" %}</th>
				<th>{% trans "actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for file in practiceFiles %}
			<tr>
				<td>{{ file.name }}</td>
				<td>
					<a href="/undergraduate/practice/download/{{ file.pk }}" title="{% trans 'download' %}">
						<span class="icon-circle-arrow-down"></span>
					</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="2">{% trans "noFilesBounded" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<footer>
		<a class="btn btn-small" href="/undergraduate/practice/list/{{idcourse}}"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</footer>
{% endblock %}
