{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
	<div class="row" style="margin: 20px 0;" >
		{% blocktrans %} Practices of Shift <b>{{ shift }}</b> {% endblocktrans %}
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "Name Practice" %}</th>
				<th>{% trans "Dead Line" %}</th>
				<th>{% trans "Files" %}</th>
				<th>{% trans "Actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for practice in practices %}
			<tr>
				<td>{{ practice.uid }}</td>
				<td>{{ practice.deadline }}</td>
				<td><a href="/undergraduate/practice/practiceFile/{{ practice.pk}}">{% trans "Download" %}</a></td>
				<td><a href="/undergraduate/delivery/upload/{{ practice.pk}}">{% trans "Make Delivery" %}</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "There are yet no Practices" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}