{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
	<div class="row">
		{% trans "practiceOfShift" %} <b>{{ shift }}</b>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "practiceName" %}</th>
				<th>{% trans "deadLine" %}</th>
				<th>{% trans "actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for practice in practices %}
			<tr>
				<td>{{ practice.uid }}</td>
				<td>{{ practice.deadline }}</td>
				<td>
					<a href="/undergraduate/practice/practiceFile/{{ practice.pk}}" title="{% trans 'download' %}"><span class="icon-download-alt"></span>
					{% if practice.isExpired %}
						<span class="icon-minus-sign" title="{% trans 'practiceExpired' %}"></span>
					{% else %}
						<a href="/undergraduate/delivery/upload/{{ practice.pk}}" title="{% trans 'makeDelivery' %}"><span class="icon-circle-arrow-up"></span></a>
					{% endif %}
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">{% trans "thereNoPractices" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
