{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

<div class="container-fluid">
	<h4>{% trans "uploadScript" %}</h4>
	<form id='formpracticescript' action='' method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit' >{% trans "save" %}</button>
	</form>	
	<div><a class="btn btn-small" href="/teacher/{{ idcourse }}"><span class="icon-backward" title="{% trans 'back' %}"></span></a></div>
	{% if practice.script_set.all %}
		<div><h5>{% trans "scriptContent" %}</h5></div>
		<div class="script-container" >
			<pre>{{ script_text }}</pre>
		</div>
	{% endif %}
</div>
{% endblock %}
