{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}

<div class="container">
	<h4>{% trans "Upload Script" %}</h4>
	<form id='formpracticescript' action='' method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit' >{% trans "Save" %}</button>
	</form>	
	<div><a href="/teacher/course/detailcourse/{{ idcourse }}">{% trans "Back" %}</a></div>
	{% if practice.script_set.all %}
		<div style="padding: 20px 0 5px;"><h5>{% trans "Script content" %}</h5></div>
		<div class="script-container" >
			<pre>{{ script_text }}</pre>
		</div>
	{% endif %}
</div>
{% endblock %}