{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
	<div class="row" style="margin: 20px 0;" >
		{% blocktrans %}Upload File for practice <b>{{ namepractice }}</b>{% endblocktrans %}
	</div>
	<form id='formuploadfile' action='' method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		<table style="margin-bottom: 10px;">
			{{ form.as_table }}
		</table>
		<button class="btn btn-primary" type='submit' >{% trans "Save" %}</button>
	</form>
		
	<div class="row" style="margin: 20px 0;" >
		{% blocktrans %}List file practice <b>{{ namepractice }}</b>{% endblocktrans %}
	</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "File" %}</th>
					<th>{% trans "Actions" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for file in practiceFiles %}
					<tr>
						<td>{{ file.name }}</td>
						<td>{{ file.file }}</td>
						<td>
						<a href="/teacher/practices/downloadfile/{{ file.pk }}" title="{% trans 'Download' %}"><span class="icon-download-alt"></span>	
					{% if file.isEditable %}
						<a name="edit{{practice.uid}}" title="{% trans 'Edit' %}" class="icon-edit icon-grid" href="/teacher/practices/editfile/{{ file.pk }}"></a>						
					{% endif %}
						<a name="delete{{practice.uid}}" title="{% trans 'Delete' %}" class="icon-trash" href="/teacher/practices/deletefile/{{ file.pk }}"></a>		    	
						</td>
					</tr>
				{% empty %}
				<tr>
					<td colspan="5" style="text-align: center; ">{% trans "There are yet no deliveries uploaded to this practice" %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div>
			<a class="btn btn-small" href="/teacher/{{ idcourse }}"><span class="icon-backward" title="{% trans 'Back' %}"></span></a>
		</div>
{% endblock %}