{% extends "teacher/teacher.html" %}
{% load i18n %}
{% block content %}
<div class="container-fluid" >
	<div class="row-fluid" style="margin: 20px 0 10px;">
		{% trans "deliveriesPractice" %} <b>{{ practice.uid }}</b>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans "delivery" %}</th>
				<th>{% trans "uidStudent" %}</th>
				<th>{% trans "practice" %}</th>
				<th>{% trans "deliveryDate" %}</th>
				<th>{% trans "correction" %}</th>
				<th>{% trans "automaticCorrection" %}</th>
				<th>{% trans "actions" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for delivery_row in table_deliveries %}
			<tr>
				<td>{{ delivery_row.delivery.pk }}</td>
				<td>{{ delivery_row.delivery.student.uid }}</td>
				<td>{{ delivery_row.delivery.practice.uid }}</td>
				<td>{{ delivery_row.delivery.full_date }}</td>
				<td>{% if delivery_row.correction %} <span class="label label-success">{% trans "corrected" %}</span> {% else %} <span class="label label-warning">{% trans "pending" %}</span> {% endif %} </td>
				<td>
					{% if delivery_row.delivery.get_automatic_correction.get_status == 'successfull' %}
						<span class="label label-success">{% trans "successfull" %}</span>
					{% elif delivery_row.delivery.get_automatic_correction.get_status == 'failed' %}
						<span class="label label-important">{% trans "failed" %}</span>
					{% else %}
						<span class="label label-warning">{% trans "pending" %}</span>
					{% endif %}
				</td>
				<td>
					<a name="download{{delivery_row.delivery.pk}}" title="{% trans 'download' %}" class="icon-download" href="/teacher/delivery/download/{{ delivery_row.delivery.pk}}"></a>
					<a name="autocorrection{{delivery_row.delivery.pk}}" title="{% trans 'automaticCorrection' %}" class="icon-certificate" href="/teacher/automatic_correction/{{ current_course.pk }}/{{ delivery_row.delivery.pk }}"></a>
					<a name="navigate{{delivery_row.delivery.pk}}" title="{% trans 'navigate' %}" class="icon-folder-open" href="/teacher/delivery/explore/{{ current_course.pk }}/{{ delivery_row.delivery.pk }}"></a>
					<a name="correct{{delivery_row.delivery.pk}}" title="{% trans 'correct' %}" class="icon-pencil" href="/teacher/correction/{{ current_course.pk }}/{{ delivery_row.delivery.pk}}"></a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="8" style="text-align: center; ">{% trans "noDeliveries" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div><a class="btn btn-small" href="javascript:history.back()"><span class="icon-backward" title="{% trans 'back' %}"></span></a></div>
</div>
{% endblock %}
