{% extends "undergraduate/index.html" %}
{% load i18n %}
{% block content %}
	<div class="row" style="margin: 20px 0;">
		{% trans "uploadDeliveryForPractice" %} <b>{{namepractice}}</b>
	</div>
	<form class="form-horizontal" method="post" enctype='multipart/form-data'>
		{% csrf_token %}
        <div class="row">
	        <div class="span6">
		        {% for field in form %}
		            {% if form.file.errors %}
		                <div class="span0 control-group error">
		                    <label class="control-label">{{ form.file.label }}</label> 
		                    <div class="controls">{{ form.file }}
		                        <span class="help-inline">
		                            {% for error in  form.file.errors %}{{ error }}{% endfor %}
		                        </span>
		                    </div>
		                </div>
		            {% else %}
		                <div class="span0 control-group">
		                    <label class="control-label" style="width: 140px;">{{ form.file.label }}</label> 
		                    <div class="controls" style="margin-left: 150px;">{{ form.file }}
		                        {% if form.file.help_text %}
		                            <p class="help-inline"><small>{{ form.file.help_text }}</small></p>
		                        {% endif %}
		                    </div>
		                </div>
		            {% endif %}
		        {% endfor %}
	       	</div>
	        <div class="span1"><button type="submit" style="padding: 2px 22px;">{% trans "submit" %}</button></div>
        </div>
	</form>
	
	<hr />
	
	<div class="row" style="margin: 20px 0 10px;">
		{% trans "deliveriesForPractice" %} <b>{{namepractice}}</b>
	</div>
	<table class="table table-striped">
		<thead style="text-align: center; ">
			<tr>
				<th>{% trans "uidDelivery" %}</th>
				<th>{% trans "deliveryDate" %}</th>
				<th>{% trans "status" %}</th>
				<th>{% trans "automaticCorrection" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for delivery in deliveries %}
			<tr>
				<td>{{ delivery.pk }}</td>
				<td>{{ delivery.deliverDate }}</td>
				<td>
					<a href="/undergraduate/correction/consult/{{ delivery.pk }}">
						{% if delivery.correction_set.all %}
							<span class="label label-success">{% trans "corrected" %}</span>
						{% else %}
							<span class="label label-important">{% trans "uncorrected" %}</span>
						{% endif %}
					</a>
				</td>
				<td>
					<a href="/undergraduate/automatic_correction/{{ delivery.pk }}">
						{% if delivery.get_automatic_correction.get_status == 'successfull' %}
							<span class="label label-success">{% trans "successfull" %}</span>
						{% elif delivery.get_automatic_correction.get_status == 'failed' %}
							<span class="label label-important">{% trans "failed" %}</span>
						{% else %}
							<span class="label label-warning">{% trans "pending" %}</span>
						{% endif %}
					</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4" style="text-align: center; ">{% trans "noDeliveriesPractice" %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<footer>
		<a class="btn btn-small" href="/undergraduate/practice/list/{{idcourse}}"><span class="icon-backward" title="{% trans 'back' %}"></span></a>
	</footer>
{% endblock %}